
:root {
  font-family: 'BakBak One',system-ui, sans-serif, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, head, body {
  background-color: var(--color-background) !important;
  
}
.radix-themes, .dark, .light {
  --color-background: #00B9D0 !important; /* OSHWDem blue */
  --color-foreground: white;
}
button {
  background-color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
}
